<!DOCTYPE html>
<html>
<head>
  <title>Pub Competition</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
    <div class="go_left">
      <div class="logo">Pub Competition</div>
    </div>
    <div class="go_right">
      <ul>
        <li><a href="/pubs">Pubs</a></li>
        <li><a href="/votes">Votes</a></li>
        <li><a href="/votes/new">Add Vote</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <%= yield %>
  </main>
</body>
</html>