<!DOCTYPE html>
<html>
<head>
  <title>Pub Competition</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div id="div_top">
  <nav class="navigation-bar">
    <h1>Pub Competition</h1>
      <ul id="ul_top">
        <li><a href="/pubs" class="a_top">Pubs</a></li>
        <li><a href="/votes" class="a_top">Votes</a></li>
        <li><a href="/votes/new" class="a_top">Add Vote</a></li>
      </ul>
  </nav>
  </div>
  <main>
    <%= yield %>
  </main>
</body>
</html>