<h1>Enter New Pub</h1>

<form action="/pubs" method='post'>

<label for=:"name">Name:</label>
<input type="text" name="name">

<label for="postcode">Postcode:</label>
<input type="text" name="postcode">

<input type="submit" value="Add Pub">

</form>